
<% for(let i of post) { %>
<li>
    <div>
        <p>
            <%= i.content %>
            <small>
                <% if(locals.user && locals.user.id == i.user.id) { %>
                    <a href="users/posts/destroy?id=<%= i._id %>">Delete Post</a>
                <% } %>
            </small>
            
            
            <br>
            <small>
                <%=i.user.name %>
            </small>
        </p>

        <div id="comments-container"></div>

        <% if(locals.user) { %>
        <div id="comments-form-container">
            <form action="/users/comments/create-comment" method="POST">
                <input type="text" name="content">
                <input hidden name="post" value="<%= i._id %>">
                <button type="submit">Post Comment</button>
            </form>
        </div>
        <% } %>

        <div>
            <ul id="comments-list">

                <!-- use ejs partials to further segment the code to decrease clutter -->
                <% for(let j of i.comments) { %>
                    <%- include("_comments", {j: j, i: i}); %>
                <% } %>
            </ul>
        </div>
            
        
        
         
    </div>
        
</li>

<% } %>